# Ignore everything in the root
/*
/.env
/wifiplus
# Un-ignore these files - it's bit of a clonky way to do it but it's more secure
!.gitignore
!app.go
!icpcpwifi.go
!bouncer.go
!handlers.go
!misc.go
!routes.go
!helpers.go
!api_test.go
!go.mod
!go.sum
!.github/workflows/unit-tests.yml
!pcp-scripts
!pcp-scripts/copy-to-www.sh
!pcp-scripts/test.sh
!pcp-scripts/wifi-plus.sh