# Ignore everything in the root
/*
/.env
# Un-ignore these files - it's bit of a clonky way to do it but it's more secure
!.gitignore
!.env_example
!app.go
!wifiplus.go
!models.go
!handlers.go
!routes.go
!helpers.go
!wifi.go
!pcpsys.go
!wap.go
!api_test.go
!go.mod
!go.sum
!.github/workflows/unit-tests.yml
!pcp-scripts
!pcp-scripts/wifi-plus-startup.sh
!pcp-scripts/test.sh
!pcp-scripts/wifi-plus.sh
!pcp-scripts/wp-wifi-refresh.sh
!wifiplus